<?xml version="1.0"?>

<model>
  <name>platform_landing</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Oyuki Rojas</name>
    <email>oyukirojas0@gmail.com</email>
  </author>

  <description>
    An platform_landing.
  </description>

</model>
