<?xml version="1.0"?>

<model>
  <name>cinves_city</name>
  <version>1.0</version>
  <sdf version="1.6">cinves_city.sdf</sdf>

  <author>
    <name>Samuel</name>
    <email>a.a.r.samuel99@gmail.com</email>
  </author>

  <author>
    <name>CINVESTAV</name>
  </author>

  <description>
    Base de la ciudad
  </description>
</model>
